

<form action='login.html'
      method="post" target="_blank">

<body>
<style>
    body {background-color: powderblue;}
</style>
<body>
<p>Register or Login</p>
<p>First Name: <input type="text" name="firstName" id="firstName" data-ng-model="person.fname"/><br/><br/>
    Last Name: <input type="text" name="lastName" id="lastName" data-ng-model="person.lname"/></p><br/>
Email Address: <input type="text" name="email" id="email" data-ng-model="person.lname"/></p><br/>
<button>Register</button>

</body>

</body>
    </form>